body {
    font-family: "Work Sans", sans-serif;
}


/* Shared Style */
.btn-primary {
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    border: none;
    padding: 15px 40px;
    color: white;
    font-weight: bold;
}

.btn-second {
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    padding: 15px 40px;
    color: white;
    font-weight: bold;
}

/* Nav Related CSS */

nav {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 1.5rem;
}

.menu-content {
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
}

.follow-us {
    display: flex;
    margin-left: 1.5rem;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 0px 8px;
    gap: 10px;
}

#icon1 {
    color: red;
}

.image-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 0.8rem;
}

/* Header Related CSS */

.header {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.header {
    padding-top: 8rem;
    padding-left: 6rem;
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.header-content {
    padding-top: 5rem;
    padding-left: 7rem;
}

.header-title2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-title {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.header-image {
    width: 90%;
}



/* We Are Gamer Related CSS */

.we-gamer {
    display: flex;
    width: 85%;
    margin: 0 auto;
    text-align: right;
    align-items: center;
}

.our-purpose {
    margin-bottom: 0;
}

.we-gamer-title,
.online-funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0;
}

.quote {
    margin-top: 0;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}


/* Online Games Section CSS */
.online-games {
    text-align: center;
    width: 85%;
    margin: 0 auto;
}

.online-img-container {
    display: flex;
}

.online-games-title,
.play-instantly-title {
    font-size: 3rem;
    margin-bottom: 0;
}

.online-games-des,
.play-instantly-des {
    margin-top: 0;
    color: #534C64;
    font-weight: 400;
}


/* Play Instantly */

.play-instantly {
    width: 85%;
    margin-top: 2.5rem;
}

.play-instantly-container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 1.2rem;

}

.play-instantly-content {
    text-align: right;
}

.play-instantly-img {
    position: relative;

}

.play-img-2 {
    width: 30%;
    position: absolute;
    left: -4.3rem;
    bottom: -5.6rem;
}

/* Play Anywhere */
.play-anywhere {
    margin-top: 8rem;
}

.play-anywhere-content {
    text-align: left;
}

.play-anywhere-img {
    position: relative;

}

.anywhere-img-2 {
    width: 30%;
    position: absolute;
    right: -4.3rem;
    bottom: -5.6rem;
}

/* Career */
.career {
    margin-top: 10rem;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    align-items: center;
    text-align: left;
    margin-bottom: 5rem;
}

.career-options {
    display: flex;
    justify-content: space-between;
}

.career-container {
    display: flex;
    margin: 0 auto;
}

.career-content {
    padding-left: 6rem;
    padding-top: 5rem;
}

.career-title {
    color: #FFF;
    font-size: 3.5rem;
    font-weight: 700;
}

.career-des {
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 400;
}

.career-options {
    color: #FFF;
    font-size: 0.8rem;
    font-weight: 600;
}


.position-btn {
    border-radius: 48px;
    background: #FFF;
    color: #FF42A5;
    padding: 1rem 2rem;
    border: none;
    font-weight: 600;
}


/* Card */
.card{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 85%;
    margin: 0 auto;
    text-align: center;
}


/* Footer */
footer{
    background: #0B0223;
    text-align: center;
    padding: 6rem 15rem;
}

.footer-title{
    color: white;
}
.footer-list{
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.sm-txt{
    color: white;
}

.footer-image-content{
}




/* Mobile Device */
@media screen and (max-width:576px) {

    /* Nav and Header */
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        /* Center text within header */
    }

    .header {
        padding: 0;
    }

    .image-content {
        grid-template-columns: 1fr;
    }

    .nav-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-content {
        padding-left: 0;
    }

    .header {
        flex-direction: column-reverse;
        background-position: bottom;
    }

    .menu-content {
        flex-direction: column;
        text-align: center;
    }

    /* We Gamer */
    .we-gamer {
        flex-direction: column;
        text-align: center;
    }

    .we-gamer-image {
        width: 100%;
    }

    /* Online Games */
    .online-img-container {
        flex-direction: column;
    }

    /* Play Instantly */
    .play-instantly-container {
        flex-direction: column;
    }

    .play-instantly-content {
        text-align: center;
    }

    .play-img-1 {
        width: 100%;
    }

    .play-img-2 {
        width: 30%;
        position: absolute;
        left: -1rem;
        bottom: -3rem;
    }

    /* Play Instantly */
    .play-anywhere-content {
        text-align: center;
    }

    #anywhere-container {
        flex-direction: column-reverse;
    }

    .anywhere-img-1 {
        width: 100%;
    }

    .anywhere-img-2 {
        width: 30%;
        position: absolute;
        right: -1rem;
        bottom: -3rem;
    }

    /* Career */
    .career-container {
        flex-direction: column;
    }

    .career-images {
        width: 100%;
    }
    .career-content {
        padding-left: .5rem;
        padding-top: 5rem;
    }
    /* Card */
    .card{
        grid-template-columns: repeat(3,1fr);
    }
    /* Footer */
    footer{
        padding: 0;
    }
}